.containerMobile {
    min-width: 480px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;

}

/* Navbar */

.logo img {
    margin: 11px;
    max-width: 200px;
    max-height: 43px;
    padding:0;
}

.navbar {
    display: flex;
    max-height: 64px;
    justify-content: space-between;
    background: #4B6043;
    overflow: hidden;
    padding: 0;
    

}

.navbar i {
    align-items: center;
    color: white;
    margin:16px;
    font-size: 32px;
    
}

/* Formulários de input */

.titulo {
    text-align: center;
    border-top: 1px solid #658354;
    margin: 13px 31px 0px 31px;
    font-size: 14px;   
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 31px 0px 31px;
    border-bottom: 1px solid #658354;
    padding-left: 2rem;
}

.form-group input{
    width: 238px;
    height: 54px;
    display: grid;
    background-color: #4B6043;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #C7DDB5;
    margin: 13px;

}

.form-group input::placeholder {
    color: white;
    opacity: 1;
  }

.form i {
    align-items: flex-start;
    color: #4B6043;
    font-size: 40px;
}

/* Lita de favoritos */
.containerFav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;

}

.favGroup {
    display: flex;
    padding: 20px;
    background: #4B6043;
    border-radius: 10px;
    justify-content: center;
}

ul {
    display: grid;
    justify-content: center;
    align-items:center;
    padding: 0px;
    gap: 13px;

    
}

li {
    display:flex;
    width: 290px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
    background-color: #C7DDB5;
    border: 1px solid #C7DDB5;
    border-radius: 20px;
}

a {
    color: black;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;  

}
.btnRemove {
    font-size: 25px;
    color: #4B6043; 
}


/* Descrição */

.description {
    margin: 26px 43px 18px 43px;
    font-size: 10px;
    text-align: justify;
}
.rowDescription {
    display: flex;
    justify-content: center;
}

h2 {
    font-weight: 400;
}
 
/* Footer */
.containerFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:8px;
    height: 133px;
    background-color: #4B6043;
    bottom: 0px;
    color: white;
}

.containerFooter img {
    max-width: 200px;
    max-height: 43px;
    padding:0;
}